.pill {
    display: inline-block;
    padding: 0.4em 1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #e1e1e1;
    text-align: center;
    transition: all 0.2s;
    font-size: small;
}